*{
    font-size: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* :root {
    var(--nude):bisque;
} */


header h1 {
    font-size: 30px;
    
}

 nav{
    font-size: 1.5rem;
    padding: 20px;
    font-family: serif, sans-serif, 'Times New Roman';
    background-color: bisque;
    color: black;
}

img {
    height: 250px;
    width:100%;
}

header ul {
    display: flex;
    list-style-type: none;
    font-size: 20px;
    justify-content: flex-end;
}

header ul a {
    text-decoration: none;
    color: black;
}
header ul a:hover{
    color: #99681A;

}

header ul li {
    display: inline-block;
    margin-left: 90px;
}

aside h1 {
    display: flex;
    justify-content: space-evenly;
    font-size: 50px;
    margin: 20px;
    width: max-content;
}

aside {
    border-right: 5px solid black;
    margin-right: 20px;
    height: 125px;
    text-align: center;
    margin-top: 50px;
}

hr {
    height: 5px;
    border-width: 0;
    background-color: black;
    transform: rotate(90deg);
    position: relative;

}

/* .projects {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
} */
   
    


.project-container {
    display: flex;
    flex-wrap: wrap;
    row-gap: 5px;
    justify-content: space-evenly;
    /* border: solid orange 2px; */
    padding-right: 50px;
    flex: 1 0 50%;
    margin-top: 50px;
}

/* .project-container,
.card {
    margin: 5px 0 5px 0;
    gap: 5px;

} */

 .card { 
    flex-wrap: wrap;
    border: solid 4px #99681A;
    width: 50%;
    max-width: 48%;
    height: 100%;
    position: relative;
    background-image: url(../images/Daily\ Motivation.jpeg);
    margin: 5px;
    max
}

.card p {
    border: solid;
    width: 125px;
    height: 50px;
    font-size: 25px;
    background-color: bisque;
    text-align: center;
    padding: 8px;
    position: absolute;
    bottom: 1rem;
}

.card-1 p {
    border: solid;
    width: 125px;
    height: 50px;
    font-size: 25px;
    background-color: bisque;
    text-align: center;
    padding: 8px;
    position: absolute;
    bottom: 1rem;
}

.card-1 {
    background-image: url(../images/Breathe_\ Danika\ Rose.jpeg);
    flex: 1 0 100%;
    border: solid 4px #99681A;
    height: 100%;
    width: 100%;
    position: relative;
}

#about-me {
    display: flex;
    padding-left: 9%;
    margin-top: 2%;
    
}

#about-me p {
    margin-top: 50px;
}


#work {
    display:flex;
    flex-wrap: wrap;
    padding-left: 10%;
}

#contact-me {
    display: flex;
    padding-left: 7%;
    width: 75%;
    margin-top: 30%;

}

#contact-me ul li {
    position: relative;
    top: 65px;
    display: inline-block;
    list-style-type: none;
    justify-content: space-evenly;
    margin-left: 20px;
}

#contact-me ul li a {
    text-decoration: none;
    color: black;
}

@media screen and (max-width:1024px) {

}
    









